body{
	text-align: center;
	font-family: arial;
}
.calculadora{
	background-color: skyblue;
	padding: 25px;
	border-radius: 10px;
	font-weight: 700px;
	margin-right: 40%;
	margin-left: 40%;

}
#pantalla{
	width: 100%;
	height: 50px;
	text-align: right;
	margin-bottom: 5px;
	background-color: black;
	font-size: 20px;
	border-radius: 10px;
	color: white;
}
.contenedor{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 5px;
}
.contenedor button{
	height: 50px;
	font-size: 20px;
	border-radius: 10px;
}
.contenedor button:hover{
	background-color: yellow;
}
.cero{
	grid-column: span 2;
}
.igual{
	grid-column: span 4;
	background-color: lightgreen;
}
.limpiar{
	grid-column: span 4;
	background-color: lightcoral;
}
.operador{
	background-color: orange;
}
@media(max-width: 800px){
    .calculadora{
        margin-right: 0%;
	    margin-left: 0%;
    }
    h1{
        font-size: 20px;
    }
}
